{
  "presets": ["@babel/preset-env"],
  "env": {
    "test": {
      "plugins": [
        ["@babel/plugin-transform-react-jsx", { "pragma": "jsx" }],
        "@babel/plugin-syntax-jsx"
      ]
    }
  }
}
